{% extends 'Base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href=" {{ url_for('static', filename='CSS/Info_Extra_Page.css') }} ">
{% endblock %}

{% block title %} {{ super() }} Informacion Adicional {% endblock %}

{% block content %}
    <section class="Section_Principal">
        <section class="IZQ_Section">
            <figure>
                <img src="/static/IMG/Quienes_somos.png" alt="Imagen izquierda">
            </figure>
            <article>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Libero ab possimus voluptatum neque, esse officia quos eos quis ea sequi sint, veritatis, excepturi unde voluptatem quia dignissimos recusandae hic voluptas.</p>
            </article>
        </section>

        <section class="DER_Section">
            <article>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Veritatis culpa asperiores modi perspiciatis minima dolor maiores alias maxime, facilis eligendi voluptates earum at sed error facere dignissimos, velit harum est.</p>
            </article>
            <figure>
                <img src="/static/IMG/Quienes_somos_2.jpeg" alt="Imagen derecha">
            </figure>
        </section>
    </section>

    <section class="Descripcion_Section_1">
        <figure>
            <img class="redonda" src="/static/IMG/FORMACION-EMPRENDEDORES.jpg" alt="">
        </figure>
        <article>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Tempora consequatur totam delectus deserunt, fugit distinctio tenetur? Reiciendis, assumenda. Unde tempore expedita soluta quasi tenetur impedit? Non corrupti cumque illo magni. Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim velit distinctio dicta odit commodi fuga illum illo dolorum qui a dolore, est fugit atque vitae, dignissimos, et sit consequuntur obcaecati!</p>
        </article>
    </section>

    <section class="Otras_Secciones">
        <h3> Asociados </h3>
        <section class="container-asociados">
            <figure>
                <img class="redonda small-size" src="/static/IMG/Icon_1.png" alt="1">
            </figure>
            <figure>
                <img class="redonda small-size" src="/static/IMG/Icon_2.png" alt="2">
            </figure>
            <figure>
                <img class="redonda small-size" src="/static/IMG/Icon_3.png" alt="3">
            </figure>
            <figure>
                <img class="redonda small-size" src="/static/IMG/Icon_1.png" alt="4">
            </figure>
        </section>
    </section>

{% endblock %}