<figure class="logo">
    <img src="/static/IMG/Logo_Transparente.png" alt="Logo de la empresa">
    <span class="Corp_Name"> Farm To Cell </span>
</figure>
  
<nav>
    <a href="#"><button>|||</button></a>
    <a href=" {{ url_for('Pagina_Principal') }} "><button>Inicio</button></a>
    <a href=" {{ url_for('Pagina_De_Productos') }} "><button>Productos</button></a>
    <a href=" {{ url_for('Pagina_De_Ayuda') }} "><button>AgroAyuda</button></a>
    <a href="Info_Extra.html"><button>Información</button></a>
</nav>