{% extends 'Base.html' %}

{% block head %}
    {{ super() }}
    <link rel="stylesheet" href=" {{ url_for('static', filename='CSS/Product_Page.css') }} ">
{% endblock %}
    
<!-- Productos inicio-->

{% block content %}

    <section class="product-grid">
        <article class="producto">
        <h2>Nombre del producto</h2>
        <img src="/static/IMG/Granjita.jpg" alt="Producto">
        <h4>Descripción:</h4>
        <p> Describiendo el producto... </p>
        </article>
    
        <article class="producto">
            <h2>Nombre del producto</h2>
            <img src="/static/IMG/Granjita.jpg" alt="Producto" >
            <h4>Descripción:</h4>
            <p> Describiendo el producto... </p></li>
        </article>

        <article class="producto">
            <h2>Nombre del producto</h2>
            <img src="/static/IMG/Granjita.jpg" alt="Producto" >
            <h4>Descripción:</h4>
            <p> Describiendo el producto... </p></li>
        </article>

        <article class="producto">
            <h2>Nombre del producto</h2>
            <img src="/static/IMG/Granjita.jpg" alt="Producto" >
            <h4>Descripción:</h4>
            <p> Describiendo el producto... </p></li>
        </article>

        <article class="producto">
            <h2>Nombre del producto</h2>
            <img src="/static/IMG/Granjita.jpg" alt="Producto" >
            <h4>Descripción:</h4>
            <p> Describiendo el producto... </p></li>
        </article>

        <article class="producto">
            <h2>Nombre del producto</h2>
            <img src="/static/IMG/Granjita.jpg" alt="Producto" >
            <h4>Descripción:</h4>
            <p> Describiendo el producto... </p></li>
        </article>

        <article class="producto">
            <h2>Nombre del producto</h2>
            <img src="/static/IMG/Granjita.jpg" alt="Producto" >
            <h4>Descripción:</h4>
            <p> Describiendo el producto... </p></li>
        </article>

        <article class="producto">
            <h2>Nombre del producto</h2>
            <img src="/static/IMG/Granjita.jpg" alt="Producto" >
            <h4>Descripción:</h4>
            <p> Describiendo el producto... </p></li>
        </article>
    
    </section>
  
{% endblock %}